:root {
    font-size: 20px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 50%;
    width: 50%;
}

section > * {
    margin: 10px 0;
}

#h1 {
    border: 2px white solid;
    background-color: darkslategray;
    color: white;
    padding: 10px 30px;
    font-size: 0.85em;
}

article {
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

blockquote {
    margin-top: 20px;
    color: darkslategray;
}

#h2 {
    color: chocolate;
    margin: 30px 0;
}

button {
    background-color: darkslategray;
    color: white;
    padding: 10px;
    border: 1px solid gray;
}

button:hover {
    background-color: dimgray;
}

button:active {
    background-color: darkgray;
    color: black;
}
